html{
	margin: 0px auto; 
}
nav.navbar{
	background-color: #fff;
}
div.da{
	display: inline-block;
}


.owl-nav{
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    width: 100%;
}
.owl-next, .owl-prev {
    background-color: #fff;
    display: inline-block;
    margin: 5px auto;
    height: 25px;
    width: 100px;
}
.glyphicon.glyphicon-chevron-left, .glyphicon.glyphicon-chevron-right{
  color: #ACACAC;
  font-size: 4em; 
  position: absolute;
}
.glyphicon.glyphicon-chevron-left{
 left: -50px;
 top: 35%;
}
.glyphicon.glyphicon-chevron-right{
right: -50px;
top: 35%;
}
.item1 {
  position: relative;
  padding: 10px;
  color: black;
  
}
.submenu {
  display: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.38);
  margin-top: 10px;
}
.item1:hover{
  border-bottom: 1px solid black;
}
.item1:hover .submenu{
  display: block;
  position: absolute;


}
ul{
  list-style: none;
}
a.bienestar{
  color: black;
  padding: 10px;
  margin-left: 20px; 

}
a.bienestar:hover{
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}
li a:hover{
  color: black;
  text-decoration: none;

}
li a {
  color: black;
}
/*sennova*/
h1.titulo{
  color:#ccc;
  text-align: center;
}
p.info2{
  text-align: left;
  border: 1px solid red;
  width: 700px;
  position:absolute;
  left: 40px;
}
.subti{
  color: #F55E3B;
}
.ali{
  font-family: "Tahoma";

}
.tab-content{
  background-color: black;
  height: inherit;
  overflow: hidden;
}
footer{
  background-color: rgba(0, 91, 130, 0.8);
  color: #fff;

}
.glyphicon.glyphicon-plus{
  float: right;
  color: #acacac;

}
.glyphicon.glyphicon-plus:hover{
  color: rgba(0, 91, 130, 0.8);

}
.panel-title{
  background-color: #fff;
}
