html{
	margin: 0px auto; 
}
nav.navbar{
	background-color: #fff;
}
div.da{
	display: inline-block;
}


.owl-nav{
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    width: 100%;
}
.owl-next, .owl-prev {
    background-color: #fff;
    display: inline-block;
    margin: 5px auto;
    height: 25px;
    width: 100px;
}
.glyphicon.glyphicon-chevron-left, .glyphicon.glyphicon-chevron-right{
  color: #ACACAC;
  font-size: 4em; 
  position: absolute;
}
.glyphicon.glyphicon-chevron-left{
 left: -50px;
 top: 35%;
}
.glyphicon.glyphicon-chevron-right{
right: -50px;
top: 35%;
}
.item1 {
  position: relative;
  padding: 10px;
  color: black;
  
}
.submenu {
  display: none;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.38);
  margin-top: 10px;
}
.item1:hover{
  border-bottom: 1px solid black;
}
.item1:hover .submenu{
  display: block;
  position: absolute;


}
ul{
  list-style: none;
}
a.bienestar{
  color: black;
  padding: 10px;
  margin-left: 20px; 

}
a.bienestar:hover{
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}
li a:hover{
  color: black;
  text-decoration: none;

}
li a {
  color: black;
}


.ali{
  font-family: "Tahoma";
  color:#999;
}
ul.nav.nav-tabs.row{
  background-color: rgba(192, 192, 192, 0.2);
}
.tab-content{
  background-color: rgba(192, 192, 192, 0.2);
  height: inherit;
  overflow: hidden;
}
footer{
  background-color: rgba(0, 91, 130, 0.8);
  color: #fff;

}
.glyphicon.glyphicon-plus{
  float: right;
  color: #acacac;

}
.glyphicon.glyphicon-plus:hover{
  color: rgba(0, 91, 130, 0.8);

}

.panel-group .panel , .panel-default>.panel-heading {
background-color: transparent;
  /*Aqui es donde se edita esa opacidad */
  /*background-color: rgba(0, 0, 0, 0.36);*/
}
.panel-default{
  border: none;
  color: #999;
}
.panel-title{
  color: #fff;
  font-size: 2em;
}
.panel-body{
  font-size: 20px;
  text-align: left;
}
.tab-pane{
  margin-top: 20px;
}
h4.panel-title{
  color: #999;
}
.panel-title>a{
  text-decoration: none;
}
.panel-title>a:hover{
    color: rgba(0, 91, 130, 0.8);
}
#gallery img:hover{
  -webkit-transform:scale(1.05);
  transform: scale(1.05);
}
#gallery img{
  transition: 500ms;

}
.galeria{
  background-color: #007881;
}
.tex.col-md-4{
  color:#fff;
  border: 1px solid white;
  margin-left: 125px;
  margin-top: 20px; 
  height: 200px;
  width: 280px;
  padding: 20px;
  margin-bottom: 25px;
  transition: 500ms;

}
.tet.row{
  background-color: #007881;
  font-family: Tahoma;
}
.tex.col-md-4:hover{
  -webkit-filter:opacity(.5);
  filter: opacity(.5);
  background-color: white;
  color:black;
}
